@import "tailwindcss";

html,
body,
#root {
    height: 100% !important;
}

body {
    background-color: #333;
}

#newtasklist::-webkit-scrollbar {
    width: 0px;
    display: none;
}

#allTask-id::-webkit-scrollbar {
    display: none;
}